# ETL Pipeline Preparation
Follow the instructions below to help you create your ETL pipeline.
### 1. Import libraries and load datasets.
- Import Python libraries
- Load `messages.csv` into a dataframe and inspect the first few lines.
- Load `categories.csv` into a dataframe and inspect the first few lines.

In [43]:
# import libraries
import pandas as pd
import numpy as np
from sqlalchemy import create_engine

In [41]:
# load messages dataset
messages = pd.read_csv('../data/disaster_messages.csv')
print(messages.head())
print()
print(messages.shape)

   id                                            message  \
0   2  Weather update - a cold front from Cuba that c...
1   7            Is the Hurricane over or is it not over
2   8                    Looking for someone but no name
3   9  UN reports Leogane 80-90 destroyed. Only Hospi...
4  12  says: west side of Haiti, rest of the country ...

                                            original   genre
0  Un front froid se retrouve sur Cuba ce matin. ...  direct
1                 Cyclone nan fini osinon li pa fini  direct
2  Patnm, di Maryani relem pou li banm nouvel li ...  direct
3  UN reports Leogane 80-90 destroyed. Only Hospi...  direct
4  facade ouest d Haiti et le reste du pays aujou...  direct

(26248, 4)

In [3]:
# load categories dataset
categories = pd.read_csv('../data/disaster_categories.csv')
categories.head()

   id                                         categories
0   2  related-1;request-0;offer-0;aid_related-0;medi...
1   7  related-1;request-0;offer-0;aid_related-1;medi...
2   8  related-1;request-0;offer-0;aid_related-0;medi...
3   9  related-1;request-1;offer-0;aid_related-1;medi...
4  12  related-1;request-0;offer-0;aid_related-0;medi...

### 2. Merge datasets.
- Merge the messages and categories datasets using the common id
- Assign this combined dataset to `df`, which will be cleaned in the following steps

In [5]:
# merge datasets

# use inner join as this removes entries that have eighter missing messages  
# OR missing categories. Neighter of these would be of any use later on.
df = pd.merge(messages, categories, how='inner', on=['id'])
df.head()

,id,message,original,genre,categories
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,related-1;request-0;offer-0;aid_related-0;medi...
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,related-1;request-0;offer-0;aid_related-1;medi...
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,related-1;request-0;offer-0;aid_related-0;medi...
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,related-1;request-1;offer-0;aid_related-1;medi...
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,related-1;request-0;offer-0;aid_related-0;medi...

### 3. Split `categories` into separate category columns.
- Split the values in the `categories` column on the `;` character so that each value becomes a separate column. You'll find [this method](https://pandas.pydata.org/pandas-docs/version/0.23/generated/pandas.Series.str.split.html) very helpful! Make sure to set `expand=True`.
- Use the first row of categories dataframe to create column names for the categories data.
- Rename columns of `categories` with new column names.

In [11]:
transform_cat_df = categories['categories'].str.split(';', expand=True)
print(transform_cat_df[0].head())
print(transform_cat_df[0].str.replace('-\d*', '').head())
print(transform_cat_df[0].head())

0    related-1
1    related-1
2    related-1
3    related-1
4    related-1
Name: 0, dtype: object
0    related
1    related
2    related
3    related
4    related
Name: 0, dtype: object
0    related-1
1    related-1
2    related-1
3    related-1
4    related-1
Name: 0, dtype: object

In [12]:
labels = []
messy_columns = []

for i in transform_cat_df.columns:
    # check if each column contains only one label (<label>-<set|unset>)
#    work_df[i].str.split('-')
    col_i_series = transform_cat_df[i].str.replace('-\d*', '')
    transform_cat_df[i] = transform_cat_df[i].str.replace('.*-', '').astype(int)
    eq = col_i_series.value_counts() == transform_cat_df.shape[0]
    if( eq.all() ):
        label = col_i_series[0]
        labels.append(label)
        print("[*] {:2} {}".format(len(labels), label))
    else:
        messy_columns.append(i)
        print("[>] Column {} has mixed labels".format(i))
        
print()
print("[*] Found {} labels".format(len(labels)))
if( len(labels) == len(transform_cat_df.columns) ):
    print("[*] All columns have a unique label")
else:
    print("[x] Some columns are ambigous! Take a closer look at columns {}".format(messy_columns))
    
len_of_uniques = len(set(labels))
if(len_of_uniques != len(labels)):
    print("[x] Found {} duplicate labels".format(len(labels)-len_of_uniques))
    

transform_cat_df.columns = labels

[*]  1 related
[*]  2 request
[*]  3 offer
[*]  4 aid_related
[*]  5 medical_help
[*]  6 medical_products
[*]  7 search_and_rescue
[*]  8 security
[*]  9 military
[*] 10 child_alone
[*] 11 water
[*] 12 food
[*] 13 shelter
[*] 14 clothing
[*] 15 money
[*] 16 missing_people
[*] 17 refugees
[*] 18 death
[*] 19 other_aid
[*] 20 infrastructure_related
[*] 21 transport
[*] 22 buildings
[*] 23 electricity
[*] 24 tools
[*] 25 hospitals
[*] 26 shops
[*] 27 aid_centers
[*] 28 other_infrastructure
[*] 29 weather_related
[*] 30 floods
[*] 31 storm
[*] 32 fire
[*] 33 earthquake
[*] 34 cold
[*] 35 other_weather
[*] 36 direct_report

[*] Found 36 labels
[*] All columns have a unique label

In [14]:
transform_cat_df['id'] = categories['id']
categories = transform_cat_df
categories.head()

,related,request,offer,aid_related,medical_help,medical_products,search_and_rescue,security,military,child_alone,...,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report,id
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,2
1,1,0,0,1,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,7
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8
3,1,1,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,0,0,9
4,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,12

In [15]:
# create a dataframe of the 36 individual category columns
df = pd.merge(messages, categories, how='inner', on=['id'])
df.head()

,id,message,original,genre,related,request,offer,aid_related,medical_help,medical_products,...,aid_centers,other_infrastructure,weather_related,floods,storm,fire,earthquake,cold,other_weather,direct_report
0,2,Weather update - a cold front from Cuba that c...,Un front froid se retrouve sur Cuba ce matin. ...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,7,Is the Hurricane over or is it not over,Cyclone nan fini osinon li pa fini,direct,1,0,0,1,0,0,...,0,0,1,0,1,0,0,0,0,0
2,8,Looking for someone but no name,"Patnm, di Maryani relem pou li banm nouvel li ...",direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,9,UN reports Leogane 80-90 destroyed. Only Hospi...,UN reports Leogane 80-90 destroyed. Only Hospi...,direct,1,1,0,1,0,1,...,0,0,0,0,0,0,0,0,0,0
4,12,"says: west side of Haiti, rest of the country ...",facade ouest d Haiti et le reste du pays aujou...,direct,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
# select the first row of the categories dataframe
row = 

# use this row to extract a list of new column names for categories.
# one way is to apply a lambda function that takes everything 
# up to the second to last character of each string with slicing
category_colnames = 
print(category_colnames)

In [ ]:
# rename the columns of `categories`
categories.columns = category_colnames
categories.head()

### 4. Convert category values to just numbers 0 or 1.
- Iterate through the category columns in df to keep only the last character of each string (the 1 or 0). For example, `related-0` becomes `0`, `related-1` becomes `1`. Convert the string to a numeric value.
- You can perform [normal string actions on Pandas Series](https://pandas.pydata.org/pandas-docs/stable/text.html#indexing-with-str), like indexing, by including `.str` after the Series. You may need to first convert the Series to be of type string, which you can do with `astype(str)`.

In [ ]:
for column in categories:
    # set each value to be the last character of the string
    categories[column] = 
    
    # convert column from string to numeric
    categories[column] = 
categories.head()

### 5. Replace `categories` column in `df` with new category columns.
- Drop the categories column from the df dataframe since it is no longer needed.
- Concatenate df and categories data frames.

In [ ]:
# drop the original categories column from `df`


df.head()

In [ ]:
# concatenate the original dataframe with the new `categories` dataframe
df = 
df.head()

### 6. Remove duplicates.
- Check how many duplicates are in this dataset.
- Drop the duplicates.
- Confirm duplicates were removed.

In [ ]:
df.isna().sum()

In [26]:
# check number of duplicates
def print_duplicates(df, column:str):
    unique_dates, count = np.unique(df[column].tolist(), return_counts=True)

    found_none_unique = False
    for i in range(len(unique_dates)):
        if count[i] >= 2:
            print("{:2}x {:6}".format(count[i], unique_dates[i]))
            found_none_unique = True

    if( not found_none_unique ): 
        print("No duplicates in column {}".format(column))
        
print_duplicates(df, 'id')
print_duplicates(df, 'message')

 4x    202
 4x    804
 4x    862
 4x   1652
 4x   2446
 4x   3217
 4x   3250
 4x   3882
 4x   4412
 4x   4956
 4x   5153
 4x   5265
 4x   5573
 4x   5643
 4x   5776
 4x   6327
 4x   6393
 4x   6492
 4x   6515
 4x   6573
 4x   6687
 4x   7747
 4x   7892
 4x   7945
 4x   8190
 4x   9131
 4x  10286
 4x  11503
 4x  12416
 4x  12420
 4x  12589
 4x  13059
 4x  13914
 4x  14073
 4x  14135
 4x  14246
 4x  14592
 4x  15169
 4x  15576
 4x  15760
 4x  15938
 4x  16245
 4x  17079
 4x  17385
 4x  17553
 4x  17569
 4x  17919
 4x  18313
 4x  18925
 4x  19003
 4x  19142
 4x  19687
 4x  21338
 4x  22059
 4x  22858
 4x  23002
 4x  23229
 4x  24247
 4x  24347
 9x  24779
 4x  25512
 4x  27296
 4x  27768
 4x  28462
 4x  28687
 4x  29022
 4x  29119
 4x    MAOZA          U  REP '
 4x #NAME?
 4x (Delmas 33 Charboniere infomatyon s'il vous plait.)
 4x * German Agro Action (GAA) reported that in the 6 weeks up to 15 July it had completed the distribution of ECHO food to almost 14,000 beneficiaries in the Tavildara district, as well as financing a total of 49 Food for Work micro-projects through WFP - the majority concerned with irrigation, canal cleaning and feeder road construction in the Garm district.
 4x ?? port au prince ?? and food. they need goverment aid and international aid thak you. god bless haiti
 4x Additionally, ointment to treat skin infections, cough medicine, iodine and bandages are needed for basic care.
 4x After the 2011 elections, widespread rioting left hundreds dead.
 4x All #NYC bridges, tunnels &amp; mta closed; over 2.8 million without power #Sandy causing So much havoc!!! Praying 4 us all
 4x An EU-backed French offensive against rebels restored an uneasy order, but foreign donors have insisted on the elections before aid is resumed to Mali.
 4x Any person who enters or exits at other points will be considered an infiltrator, he added.
 4x Area Jam gulab pahore Area ghulam haidar pahore's almost 50 houses have been damaged due to the recent flood. Din't receive housing compensation. C.M. of punjab has given only one bedsheet per family and nothing else has been given. Due to cool weather children have been suffering from diseases.
 4x As the harsh winter sets in, more people are in danger of dying in the freezing conditions.
 4x As we approach Luabo, I get my first impressions of the camp, dilapidated buildings, most without roofs, or windows and walls collapsing.
 4x At present, UNHCR has 2,500 additional tents at the Port of Colombo which have been granted duty free clearance by the Ministry of Foreign Affairs and are awaiting clearance for distribution.
 4x BEIJING, Aug 16 (AFP) - Some 200 people are dead or missing following three days of flash flooding that hit central China's Hunan province, officials said Monday.
 4x BEIJING, Sep 24, 2008 (Xinhua via COMTEX News Network) -- Typhoon Hagupit has downgraded to severe tropical storm at 2 p.m. Wednesday in coastal areas of South China's Guangxi Zhuang Autonomous Region, according to the National Meteorological Center.
 4x Before we take your general questions, I'd like to make a few opening remarks concerning ISAF support to the Afghan people during these frigid winter months. After the earthquake, huge boulders blocked off the road to large vehicles. Most years, floods wreak havoc in the state, leaving a trail of destruction and killing hundreds of people. We have heard of crocodile sightings.
 4x But while floodwaters have subsided in some areas, there has been fresh flooding in the north of the state and more heavy rainfall forecast elsewhere.
 4x Falta tan tan poco.. ¬¨¬¥Simply Red - Holding back the years¬¨¬™. Arena Santiago, de all‚àö¬∞ somos! Night.  http://blip.fm/~n0frf
 4x Full Circle, my local, collecting supplies and making lunches for #SandyRelief @Full Circle Bar http://t.co/EHLqbhHw
 4x Good evening staff of responsibles, please give me some help because until now I am homeless (in the street).
 4x Good evening. we are writing to ask you for a little help in the Sibert area. We are calling for something to eat. We haven't eaten anything yet. We ask you please do us a favor.
 4x Good morning!How are you doing my brothers when the cyclone start and when it will be finish.
 4x HELP THE EARTHQUAKE VICTIMS IN HAITI http tinyurl.com yk3bspe links to many resources where you can make donations. Broke? donate time
 4x How much money did TV Latino American collect in Miami
 4x I am a victim. I need food, water and a radio.
 4x I am in Carefour Feuilles, Dkayet neighborhood. We need potable water because diarrhea is rampant here and is undermining our health.
 4x I can help deliver food to seniors who are trapped in their homes . I speak Mandarin and Cantonese .
 4x I have men and woman clothing plus 3-4t girl clothing , Toys , Non perishable food
 4x I thought you gave my number and this was serious. Meanwhile today has been 15 days and we still haven't gotten anything
 4x I would like some more informations about travelling to Senegal
 4x I would like to find some informations about these questions that i asked.
 4x I'd like to know an email to find a job
 4x I'd like to sign up in the 4636 program please
 4x If I would like to find a job in cepoz, what should I do?
 4x In a field in Jallouzai, just inside Pakistan, 80,000 Afghans are jammed in without proper shelter, sanitation or water.
 4x In response to North Korea's devastating artillery attack on Yeonpyeong Island on Tuesday, South Korea has suspended aid shipments of food and cement to the North's flood-stricken Shinuiju region.
 4x It was offshore about 130 km to the southeast of Wenchang City on the east coast of Hainan and packing wind of up to force 8.
 4x Me and my family every time it rains you do not know what to do, because we have nothing to shelter, please find us something that we live in a military cites the legal street pole.
 4x Mera ghar selab ki waja sy gir giya hy. aur dobara nahin bna sakta main shadeed mooshkil men hoon. mery 3 choty choty bachy aur baqi ghar waly shdeed sardi khaema mein guzarny par majboor hin. khdara ghar banany mein meri mdad kro. plz help me. khalil
 4x Most victims (90 per cent) show little or no symptoms of infection and therefore go a long time untreated, even though the World Health Organisation lists fever, fatigue, headache, vomiting, stiffness in the neck, and pain in the limbs as initial symptoms.
 4x NOTES: this sms is not important because this person is playing.
 4x On behalf of ACT members in Bangladesh Christian Commission for Development in Bangladesh (CCDB) and Rangpur Dinajpur Rural Service (RDRS) - LWF/WS report that none of their projects has yet been affected but that the low-lying areas of the north-eastern districts have been inundated by an on-rush of floodwater from across the border following rains and overflowing rivers in the neighbouring Indian state of Assam.
 4x Sent email , matched to Seniors are living in the Seward Park Co-Op top floors with no power or water .
 9x Shelter materials (thick polyesters) are being distributed to 18,000 households.
 4x Sir or madam, I'm hungry, I cannot stand because I'm very hungry, if you could share the food, it would benefit the population, thanks
 4x Some herders now have their homes connected to the town grid or, in the most isolated areas, herders have been provided with solar panels and small wind turbine systems as sources of renewable energy.
 4x Starting in October 1999, severe food insecurity began to be reported in Gode zone, Somali Region, as a result of delayed and erratic Deyr rains (expected from September-December).
 4x Tell the President to give the nation over to God.
 4x The Management Committee is composed of six members, including a chairman, a treasurer, a secretary general, a manager and two commissioners elected democratically by the community.
 4x The flood situation has worsened with nearly 3,000 villages submerged forcing an estimated 150,000 people to take shelter in raised platforms and makeshift tarpaulin tents, Assam Revenue, Relief and Rehabilitation Minister Bhumidhar Barman said.
 4x The last locust infestation in the Central Asian republic was in 1995 and is expected to reoccur every four to five years.
 4x The regime says the charter will clear the way for democratic elections in two years, but critics say the document will ensure the generals remain dominant in a country that has been ruled by the military for nearly half a century.
 4x The slow pace of reconstruction along Japan's devastated north-eastern coastline is contributing to survivors' stress, as there is little clarity on how long they will have to remain in cramped temporary housing.
 4x They reported sporadic rains were still flooding air fields, roads and slowing urgent repairs along several key highways.
 4x To date, a total of 39 people suffering from Ebola or having had a high risk exposure to the virus, have been medically evacuated to Europe.
 4x Wand to donate jackets , hot meals , non-perishable foods , towels , bed sheets
 4x What can i do to protect my self if the earthquake comes back?
 4x What is the address of the radio station? I ask because I need to drop off a file for the committee we created. Thanks in advance!
 4x What we saw yesterday is a sign, you need to know what Jesus is stirring up/doing
 4x World Vision staff stationed in Jabouri immediately reached the mudslide area to offer assistance.
 4x elle est vraiment malade et a besoin d'aide. utilisez mon numero de tlphone pour obtenir plus de renseignements. Nous attendons une reponse. Aucun numero fourni par contre.
 4x here,i'm i don't find medicin just resting to die where i can find it?
 4x in my village after collapse of whole infrastructure due to flood the majority of people is homeless  in need of tents which are not available.
 4x jel2  Acte 5: 29 2chr7 Lev11 Ecl9 Ecl4 jos5 ch102kr Es59
 4x please we need water, food and tents, we have 101 chlidren. .. please come rescue
 4x there are people in Delmas 32 who form an association who is taking food on the name of the people in that neighborhood. they are just keeping it. it is not being distributed.
 4x where we can paticipate in the law reorganizations?

In [47]:
# remove missing messages
df = df[df['message'] != '#NAME?']
df.loc[df['related'] > 1, 'related'] = 1
print()

# drop duplicates
df.drop_duplicates(subset=['id', 'message'], inplace=True)

In [48]:
# check number of duplicates

print(df.isna().sum())
print_duplicates(df, 'id')
print_duplicates(df, 'message')
print(df.shape)

id                            0
message                       0
original                  16023
genre                         0
related                       0
request                       0
offer                         0
aid_related                   0
medical_help                  0
medical_products              0
search_and_rescue             0
security                      0
military                      0
child_alone                   0
water                         0
food                          0
shelter                       0
clothing                      0
money                         0
missing_people                0
refugees                      0
death                         0
other_aid                     0
infrastructure_related        0
transport                     0
buildings                     0
electricity                   0
tools                         0
hospitals                     0
shops                         0
aid_centers                   0
other_infrastructure          0
weather_related               0
floods                        0
storm                         0
fire                          0
earthquake                    0
cold                          0
other_weather                 0
direct_report                 0
dtype: int64
No duplicates in column id

MemoryError: Unable to allocate 1.05 GiB for an array with shape (26176,) and data type <U10818

In [52]:
df['related'].value_counts()

2

### 7. Save the clean dataset into an sqlite database.
You can do this with pandas [`to_sql` method](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.to_sql.html) combined with the SQLAlchemy library. Remember to import SQLAlchemy's `create_engine` in the first cell of this notebook to use it below.

In [51]:
engine = create_engine('sqlite:///DisasterMessageClassification.sqlite')
df.to_sql('Messages', engine, index=False)

### 8. Use this notebook to complete `etl_pipeline.py`
Use the template file attached in the Resources folder to write a script that runs the steps above to create a database based on new datasets specified by the user. Alternatively, you can complete `etl_pipeline.py` in the classroom on the `Project Workspace IDE` coming later.